html{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    word-break:normal;
}


body {
    /* padding: 0 0 500px; */
    padding: 0;
    margin: 0;
    background-image: url(bgdark.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: var(--cir) !important;
    scroll-behavior: smooth;
    --text: #f2f2f2;
    --bgt: #222222d0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    --theme: #61ccff;
    --sele: #61ccff60;
    --cir: #222;
    transition: background-image 300ms;
}

body.light {
    background-image: url(bglight.jpg);
    --text: #000;
    --bgt: #eeeeeeb0;
    --theme: #005fba;
    --sele: #005fba50;
    --cir: #eee;
}

.a {
    text-decoration: none !important;
    cursor: pointer;
    user-select: none;
}

a.jump {
    color: var(--theme);
}

a.jump:hover {
    color: #999;
}

a.jump:active {
    color: #666;
}

p {
    margin: unset;
}

*::selection{
    background-color:var(--sele);
    color: var(--text);
}


/* ::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar:hover {
    background-color: #7f7f7f30;
}

::-webkit-scrollbar-thumb {
    background: #7f7f7f70;
    background-clip: padding-box;
    border: 6px solid transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
} */

hr {
    width: calc(100% - 40px);
    background-color: #7f7f7f40;
    border: none;
    height: 1px;
    border-radius: 10px;
}

.chart>hr{
    
    margin: 10px 0 0 5px;
}

/* #hd>svg>g>path{
    stroke:#fff;
    stroke-width: 10;
    stroke-linecap:round;
    stroke-linejoin:round;
    fill:none;
    stroke-miterlimit:10;
}

#hd{
    width: 140px;
    position: fixed;
    height: 300px;
    left: calc(50% - 70px);
    top: calc(50% - 150px);
} */

.card {
    --arbutus-border-radius-accent: 25px;
    --accent-border-width: 4px;
    opacity: 0;
    --c1: #368ed7;
    --c2: #73dae7;
    --c3: #eb78e9;
    position: relative;
    background-color: #232020;
    box-shadow: #00000070 0 5px 18px;
    border-radius: var(--arbutus-border-radius-accent);
    display: flex;
    flex-direction: column;
    /* z-index: -1; */
    transition: 160ms cubic-bezier(1,0,0,1);
    padding: 8px;
    transition: 400ms cubic-bezier(0.49, 1.46, 0.51, 0.94);
    transform: scale(0.9) translateY(30%);
}


body.light .card{
    background-color: #eee7e6;
    box-shadow: #00000030 0 5px 15px;
    color: #000;
}

.card.show{
    opacity: 1;
    transform: none;
}


@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes tile-border-tile-border-rotate {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 360deg;
    }
}

.rotate,.rotate>*{
    z-index: 0;
}

.rotate::after{
    content: "";
    opacity: 0;
    position: absolute;
    height: calc(100% - var(--accent-border-width) * 2);
    width: calc(100% - var(--accent-border-width) * 2);
    top: 0;
    left: 0;
    
    --angle: 0deg;
    
    animation-name: tile-border-tile-border-rotate;
    animation-iteration-count: infinite;
    animation-duration: 2.25s;
    animation-timing-function: linear;

    border-radius: var(--arbutus-border-radius-accent);
    border: solid var(--accent-border-width) transparent;
    transition: 200ms,filter 300ms 300ms;
    background: conic-gradient(from var(--angle),var(--c1),var(--c2),var(--c3),var(--c1)) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box,linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.rotate:hover::after{
    opacity: 1;
}

body.light .rotate::after{
    filter: brightness(0.9) saturate(0.9);
}

.card>.tit {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 300;
    margin: 25px 30px;
    text-align: start;
    word-break: keep-all;
}

.card>.tit.center {
    text-align: center;
}

.card>.body {
    /* padding: 20px 30px; */
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    white-space: nowrap;
    background-color: #61ccff;
    color: #000;
    line-height: 1.2;
    padding: 10px 20px 9px 20px;
    /* border-radius: 8px; */
    border-radius: 100px;
    outline: none;
    border: none;
    font-size: 16px;
    border: 2px solid #99999934;
    border-bottom-color: #4a4a4a40;
    transition: 100ms;
}
button:hover{
    filter: brightness(1.1);
}
button:active{
    opacity: 0.6;
}

#ldb {
    transition: 700ms, transform 500ms cubic-bezier(0.6, 0.02, 0.9, 0.7);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 7;
    background-image:
    radial-gradient(circle at 50% 40%, transparent 0 50%, #00000020),
        radial-gradient(circle at 30% 30%, #197e7430, #00000000 20%),
        radial-gradient(circle at 70% 60%, #9e751730, #00000000 25%),
        radial-gradient(circle at 20% 70%, #2b6e4530, #00000000 25%),
        radial-gradient(circle at 0 0, #233e53 0 30%, #3a1d2e 70%);
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    scroll-behavior: smooth;
}

#ldb.hide{
    transform: translateY(-100%);
    border-bottom-left-radius: 45vw;
    border-bottom-right-radius: 45vw;
}

body.light>#ldb{
    background-image: 
    radial-gradient(circle at 50% 40%, transparent 0 50%, #ffffff20),
    radial-gradient(circle at 30% 30%,#32ffea30,#00000000 20%),
    radial-gradient(circle at 70% 60%,#ffbf2830,#00000000 25%),
    radial-gradient(circle at 20% 70%,#3da86630,#00000000 25%),
    radial-gradient(circle at 0 0,#acc6d8 0 30%,#d0b7cd 70%);
    color: #000;
}
body.light>#ldb>.stscbg *{
    fill: #00000090 !important;
}
#ldb>.stscbg *{
    fill: #ffffff90;
}
body>#ldb>svg{
    position: fixed;
    margin-bottom: 50px;
}
body>#ldb>.stsc{
    /* filter: brightness(1.2); */
    /* opacity: 0.7; */
    z-index: 8;
}

#ldb>.stsc{
    --r: 0px;
    mask-image: radial-gradient(circle at 50% 110%, white var(--r), transparent var(--r) 100%);
}

#ldb>.ld{
    position: fixed;
    bottom: 30px;
    transition: 100ms, opacity 200ms 400ms, transform 1s cubic-bezier(1, 0,2, 0.2, 1);
    border: none;
    background: transparent;
    color: var(--text);
    border-color: transparent;
    font-size: 17px;
    background: var(--bgt);
    box-shadow: 0 0 5px 2px var(--bgt);
    padding: 13px 22px;
    
    --arbutus-border-radius-accent: 100px;
    --accent-border-width: 4px;
}

#ldb:not(.sc)>.ld{
    opacity: 0;
    transform: translateY(20px);
    scale: 1.4 1.5;
}

#ldb.loaded>.ld{
    
    --c1: #1cd9ff;
    --c2: #8a84ff;
    --c3: #f260ff;
}

#ldb:not(.loaded)>.ld{
    
    --c2: #61ccff;
    --c1: #00000000;
    --c3: #00000000;
}

#ldb:not(.loaded)>.ld:hover,
#ldb:not(.loaded)>.ld:active{
    opacity: 1;
    filter: none;
}

body.light>#ldb .lay{
    color: #000;
}



@keyframes inf {
    0% {
        stroke-dashoffset: 30%;
    }
    100%{
        stroke-dashoffset: -300%;
    }
}
#ldb>l{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
#ldb.loaded>l,
#ldb:not(.sc)>l{
    display: none;
}
l>svg>* {
    stroke: var(--theme);
    fill: none;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: inf 2s linear 0s infinite normal none running;
    transition: all .2s ease-in-out 0s;
    stroke-dasharray: 30% 100% 70% 130%;
}
l>svg {
    background-color: #00000000;
    border-radius: 100px;
}


body>#ldb>.bg{
    /* background-image: 
    url(./bg.svg); */
    /* background-position: center center;
    background-size: cover; */
    min-height: 400%;
    width: 100%;
    /* color: #000; */
}

#ldb> #star-canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
    display: block;
}

#maincir{
    width: var(--cird);
    height: var(--cird);
    position: fixed;
    display: block;
    left: var(--cirl);
    top: var(--cirt);
    transform-origin: 50% 100%;
    transform: scale(0);
    background-color: var(--cir);
    transition: 700ms ease-out;
    z-index: 10;
    border-radius: 50%;
}


#maincir.expend{
    transform: none;
}

body>.lay.first{
    margin: 0;
    transition: background-color 1.2s 2.2s;
    background-color: var(--cir);
}

body>.lay.first *::selection{
    background-color: rgba(194, 119, 44, 0.4) !important;
    color: unset;
}

body>.lay.first>*{
    opacity: 0;
    transition: opacity 1s;
}

body.show>.lay.first{
    background-color: transparent;
    
}

body.show>.lay.first>*{
    opacity: 1;
    
}

body.show{
    animation: ovfy 0s 2.5s forwards;
}

@keyframes ovfy {
    to{
        overflow-y: scroll;
    }
}

.shine {
    --speed: 1;
    background-clip: text;
    font-weight: 500 !important;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(110deg, var(--color) 0 40%, var(--colorshine) 50% 50%, var(--color) 60%);
    background-size: 200% 100%;
    background-position: calc(var(--scroll) * var(--speed)) 50%;
}



.lay{
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 50vh;
    flex-direction: column;
    /* color: #f0f0f0; */
    color: var(--text);
    width: 100%;
    overflow-x: clip;
}

body.light .card{
    color: #000;
}

#ldb>.lay.show0 {
    display: flex;
}

#ldb>.lay.show {
    opacity: 1;
}

#inf>.card {
    height: calc(100% - 130px);
    width: calc(100% - 200px);
    max-width: 700px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
}


#inf>.card>.chart {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 0 30px 40px 50px;
    max-width: 100%;
    overflow: auto;
    box-sizing: border-box;
}

#inf>.card>.chart>div {
    display: flex;
    margin-top: 7px;
}

#inf>.card>.chart>div>p:first-child {
    min-width: 150px;
}

#jt {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    overflow: hidden;
    flex-direction: column;
    margin-bottom: 15px;
    width: 60vw;
    max-width: 680px;
}

/* #jt>div>p{
    align-items: center;
} */

#jt>div {
    display: flex;
    align-items: center;
    padding: 2px 20px;
    /* width: ; */
}

#jt>div>p {
    width: 100px;
}

#jt>div>div {
    background: #99999950;
    border-radius: 20px;
    height: 8px;
    /* margin-top: 9px; */
    transition: 200ms;
    flex-grow: 1;
    overflow: hidden;
}


#jt>div>div:hover {
    /* margin-top: 6px; */
    height: 14px;
}


.highlight.width:not(.show) {
    width: 0 !important;
}

.highlight.width {
    transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#hab {
    width: calc(100% - 200px);
    min-width: 400px;
    max-width: 800px;
    background-color: #33333330;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* column-count: auto; */
    /* column-width: 100px; */
    flex-wrap: wrap;
    padding: 10px;
    justify-items: center;
    gap: 10px;
    border-radius: 20px;
    backdrop-filter: blur(15px) brightness(1.2);
}

#hab>.cd {
    /* margin: 5px; */
    background-color: #00000050;
    width: 100%;
    min-height: 80px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    user-select: none;
    overflow: hidden;
    --text: #f0f0f0;
    color: var(--text);
}


#hab>.cd>.bf {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    transform: none;
    opacity: 0;
    /* left: 40px; */

}

#hab>.cd.go:hover>svg:not(.bf) {
    transform: scale(20%);
    opacity: 0;
}
#hab>.cd:hover>svg {
    transform: scale(40%);
}
#hab>.cd:hover>svg.bf {
    opacity: 1;
    transform: translateX(27px);
}

#hab>.cd>svg {
    height: 100%;
    width: max-content;
    transform: scale(35%);
    transition: 200ms;
}

#hab>.cd>span {
    flex-grow: 1;
    font-size: 21px;
}

.card.prj{
    width: 50%;
    min-width: 450px;
    max-width: 600px;
}
.card.prj>.body{
    padding: 0 30px 0px 30px;
    width: unset;
    line-height: 1.5;
}

.card.prj>.body>span{
    font-family: 'Cascadia Code', monospace;
    font-weight:300;
    background: radial-gradient(circle at 30px 40% ,#474747c0 0, #393939d0 50px);
    border-radius: 9px;
    text-shadow: #000 0 2px 2px;
    color: #fff;
    font-size: 15px;
    padding: 2px 7px;
    display: inline-flex;
    align-items: center;
    border: #aaaaaa49 1px solid;
    /* box-shadow: #00000090 0 1px 3px; */
    margin: -15px 5px 15px 5px;
    user-select: none;
}
.card.prj>.body>span>svg{
    fill: #61ccff;
    /* fill: none; */
    margin-right: 4px;
    stroke: #61ccff;
    stroke-width: 0.5px;
}
.card.prj>.body>span>svg.bi-star{
    fill: #ffd562;
    stroke: #ffd562;
}

.card.prj.prjlist>.tit{
    font-size: 25px;
}
.card.prj.prjlist .ops>.a>svg{
    font-size: 20px;
    margin-bottom: 0;
    margin-right: 6px;
}
.card.prj.prjlist .ops>.a{
    flex-direction: row;
}
.card.prj.prjlist>.body>span{
    margin: -8px 7px 12px -5px;
}
.card.prj.prjlist>hr{
    margin-top: 0;
    margin-bottom: 0;
}

.ops{
    display: flex;
    padding: 20px 0 30px 0;
    width: 100%;
    user-select: none;
    gap: 5px;
}

.ops>.a{
    /* width: 100%; */
    padding: 10px 10px;
    margin: 1px;
    border-radius: 8px;
    transition: 100ms;
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.ops>.a>svg{
    height: 25px;
    width: max-content;
    margin-bottom: 5px;
}

.ops>.a:hover{
    background-color: #88888829;
}

.ops>.a:active{
    opacity: 0.6;
}

#ft {
    background-color: var(--bgt);
    backdrop-filter: saturate(2) contrast(0.8) blur(30px);
    color: var(--text);
    height: calc(100vh + 30px);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: #00000040 0 -10px 20px;
    border-top: 3px solid #77777760;
}

body.light #ft{
    box-shadow: #00000017 0 -10px 20px;
}

#tgtheme{
    background: #ffffff30;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    
    --c1: #1cd9ff;
    --c2: #8a84ff;
    --c3: #f260ff;
    --arbutus-border-radius-accent: 50%;
    --accent-border-width: 4px;
    backdrop-filter: blur(15px) saturate(1.2);
}

body.light #tgtheme{
    background: #ffffff80;
}

#tgtheme>svg{
    height: 1.8em;
    width: 1.8em;
    transition: 100ms;
}

#tgtheme:hover>svg{
    transform: scale(1.14);
}

#tgtheme:active>svg{
    transform: scale(1);
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    /* Body adjustments for mobile */
    .lay.hd{
        width: 100%;
    }

    html,body {
        padding: 0;
        margin: 0;
    }

    html{
        overflow-x: hidden !important;
    }

    #jt>div{
        /* width: unset; */
        margin-right: 15px;
    }

    #jt{
        width: 100%;
    }

    /* Card adjustments */
    .card {
        width: 100% !important;
        --arbutus-border-radius-accent: 0;
        margin: 0;
        border-left: 0;
        border-right: 0;
        min-width: 0 !important;
        transform: translateY(30%);
    }

    .vtxt{
        writing-mode: vertical-rl;
    }

    #hab{
        min-width: 0;
        width: calc(100% - 50px);
    }
    
    .card.prj>.body{
        padding: 0 25px 0px 25px;
        width: unset;
        line-height: 1.5;
    }

    .rotate::after {
        opacity: 1;
    }

    #tgtheme.rotate::after {
        opacity: 0;
    }
}

.card{
    background-color: #252525c7;
    backdrop-filter: saturate(3) contrast(1.1) blur(40px);
}

body.light .card{
    background-color: #eae3e2c7;
    backdrop-filter: saturate(3) contrast(1.1) blur(40px);
}